@font-face{
    src: url('../fonts/Raleway/static/Raleway-Light.ttf');
    font-family: 'raleway-thin';
}
@font-face{
    src: url('../fonts/Raleway/static/Raleway-Bold.ttf');
    font-family: 'raleway-bold';
}
@font-face{
    src: url('../fonts/Raleway/static/Raleway-Medium.ttf');
    font-family: 'raleway';
}

@font-face{
    src: url('../fonts/fa/fa-solid-900.ttf');
    font-family: 'fa-solid';
}

@font-face{
    src: url('../fonts/fa/fa-brands-400.ttf');
    font-family: 'fa-brands';
}

@font-face{
    src: url('../fonts/fa/fa-regular-400.ttf');
    font-family: 'fa-reg';
}
